{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<table>
  <td>Lager</td>
  <td>Kunde</td>
  <td>Netto</td>
  <td>Steuersatz</td>
  <td>Brutto</td>
  <td>Markierung</td>

    <form id="calc-form" action="{% url 'result' %}" method="post">

      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
      <tr>

        {% for field in form %}
          <td>
            {{ field|as_crispy_field }}
          </td>
        {% endfor %}
      {% endfor %}

  </form>
  </tr>

</table>



<input type="submit" form="calc-form" value="Calculate">


{% endblock content %}
