{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load l10n %}

{% block content %}

<div class="row">
  <table style="margin: auto">
    <td>Lager</td>
    <td>Kunde</td>
    <td>Netto (€)</td>
    <td>Steuersatz</td>
    <td>Brutto (€)</td>
    <td>Markierung</td>

    <form id="calc-form" action="{% url 'index' %}" method="post">
      {% csrf_token %}

      {{ formset.management_form }}
      {% for form in formset %}
      <tr>

          <td>{{ form.warehouse|as_crispy_field }}</td>
          <td>{{ form.customer|as_crispy_field }}</td>
          <td>{{ form.net|as_crispy_field|localize }}</td>
          <td>{{ form.get_tax_rate }}</td>
          <td>{{ form.get_gross|intcomma }}</td>
          <td>{{ form.get_classification }}</td>

      {% endfor %}
    </form>
  </tr>
  </table>

</div>

<div class="row" style="padding-top:20px">
  <div class="p-0">
    <input type="submit" form="calc-form" value="Calculate">
  </div>
</div>



{% endblock content %}
